$white: #FFFFFF;
$gray-base: #67645F;
$gray-100: #ECECEC;
$gray-200: #E4E4E4;
$gray-300: #DDDDDD;
$gray-400: #C9C8C3;
$gray-500: #B5B4AF;
$gray-600: #9F9E99;
$gray-700: #7D7C77;
$gray-800: #67645F;
$gray-900: #4B4843;
$black: #000000;

//$white:                             #FFFFFF;
//$gray-base-dark:                    #67645F;
//$gray-100-dark:                     #4c4843;
//$gray-200-dark:                     #44403c;
//$gray-300-dark:                     #3d3835;
//$gray-400-dark:                     #35312f;
//$gray-500-dark:                     #2d2928;
//$gray-600-dark:                     #252222;
//$gray-700-dark:                     #1e1c1b;
//$gray-800-dark:                     #161515;
//$gray-900-dark:                     #0d0c0c;
//$black:                             #000000;

$primary: #EF62A3;
$secondary: #FF8D1A;
$success: #1B9E3E;
$info: #63584D;
$warning: #F9B115;
$danger: #E56953;
$light: #F7F5F3;
$dark: #312721;

$primary-dark: #C74282;
$secondary-dark: #F88F24;
$success-dark: #008730;
$info-dark: #594F44;
$warning-dark: #E6B100;
$danger-dark: #C3503C;
$light-dark: #FFFFFF;
$dark-dark: #392E28;

$primary-text-emphasis: #783152;
$secondary-text-emphasis: #75400B;
$success-text-emphasis: #0E4F1F;
$info-text-emphasis: #322C27;
$warning-text-emphasis: #684A08;
$danger-text-emphasis: #73342A;
$light-text-emphasis: #4D4C4C;
$dark-text-emphasis: #191411;

$primary-text-emphasis-dark: #64003A;
$secondary-text-emphasis-dark: #4D2700;
$success-text-emphasis-dark: #00390F;
$info-text-emphasis-dark: #382F25;
$warning-text-emphasis-dark: #3E2E00;
$danger-text-emphasis-dark: #650A01;
$light-text-emphasis-dark: #30302F;
$dark-text-emphasis-dark: #281F19;

$primary-bg-subtle: #FCE0ED;
$secondary-bg-subtle: #FFE8D1;
$success-bg-subtle: #D1ECD8;
$info-bg-subtle: #E0DEDB;
$warning-bg-subtle: #FEEFD0;
$danger-bg-subtle: #FAE1DD;
$light-bg-subtle: #F5F2F0;
$dark-bg-subtle: #D6D4D3;

$primary-bg-subtle-dark: #FFB0CE;
$secondary-bg-subtle-dark: #FFC79B;
$success-bg-subtle-dark: #DDF8E0;
$info-bg-subtle-dark: #C0AA96;
$warning-bg-subtle-dark: #FFF7E5;
$danger-bg-subtle-dark: #FFEAE5;
$light-bg-subtle-dark: #D6D4D2;
$dark-bg-subtle-dark: #EBE4E0;

$primary-border-subtle: #F7B0D1;
$secondary-border-subtle: #FFC68C;
$success-border-subtle: #8DCF9E;
$info-border-subtle: #B1ABA6;
$warning-border-subtle: #FCD88A;
$danger-border-subtle: #F2B4A9;
$light-border-subtle: #D2C6BC;
$dark-border-subtle: #989390;

$primary-border-subtle-dark: #FF4D90;
$secondary-border-subtle-dark: #FF8D33;
$success-border-subtle-dark: #67DF75;
$info-border-subtle-dark: #96765A;
$warning-border-subtle-dark: #FFDF97;
$danger-border-subtle-dark: #FFB4A6;
$light-border-subtle-dark: #3F3F3E;
$dark-border-subtle-dark: #B9A8A0;

$body-bg: #FFFFFF;
$sidebar-bg: $gray-100;

$body-bg-dark: #141313;
$sidebar-bg-dark: #4c4843;

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-validation-icons: true !default;
$enable-negative-margins: false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;
$enable-dark-mode: true !default;

$mobile-breakpoint: lg;

$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0));

.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.nav {
  flex: 1;
  height: 100%;
}

html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.nav-title {
  display: flex;
  align-items: center;
}

.tagline {
  font-style: italic;
}

//$container-max-widths: (
//        sm: 540px,
//        md: 680px,
//        lg: 740px,
//        xl: 850px,
//        xxl: 1300px
//) !default;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../../node_modules/@coreui/coreui/scss/coreui";

//code {
//  background: #ede6e4;
//  color: #2B2A2A;
//  padding: 2px;
//}

.content {
  display: flex;
  align-items: center;
  white-space: break-spaces;
  flex: 1;
  flex-direction: column;
}

.fullHeight {
  height: 100%;
  overflow-y: scroll;
}

.Screen {
  padding-bottom: 16px;
}

.accordion {
  margin-top: 16px;
}

.accordion-button {
  display: flex;
  align-items: end;
}

h2 {
  margin-top: 32px;
}

h3 {
  margin-top: 16px;
}

ul {
  margin-bottom: 0;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
}

[data-coreui-theme="dark"] {
  --cui-on-bg: #{$light-dark};

  ::selection {
    background: #5b0a91;
  }

  .sidebar {
    background-color: #{$sidebar-bg-dark};
  }

  .nav-item {
    path {
      fill: #{$light-dark};
      stroke: #{$light-dark};
    }

    line {
      fill: #{$light-dark};
      stroke: #{$light-dark};
    }

    circle {
      fill: #{$light-dark};
      stroke: #{$light-dark};
    }

    rect {
      fill: #{$light-dark};
      stroke: #{$light-dark};
    }
  }

  .sidebar-nav .nav-link.active {
    background: #{$primary-bg-subtle-dark};
    color: #{$primary-text-emphasis-dark};

    svg {
      path {
        fill: #{$primary-text-emphasis-dark};
        stroke: #{$primary-text-emphasis-dark};
      }

      line {
        fill: #{$primary-text-emphasis-dark};
        stroke: #{$primary-text-emphasis-dark};
      }

      circle {
        fill: #{$primary-text-emphasis-dark};
        stroke: #{$primary-text-emphasis-dark};
      }

      rect {
        stroke: #{$primary-text-emphasis-dark};
        fill: #{$primary-text-emphasis-dark};
      }
    }
  }

  .sidebar-nav .nav-link:hover {
    background: #{$info-bg-subtle-dark};
    color: #{$info-text-emphasis};

    svg {
      path {
        fill: #{$info-text-emphasis-dark};
        stroke: #{$info-text-emphasis-dark};
      }

      line {
        fill: #{$info-text-emphasis-dark};
        stroke: #{$info-text-emphasis-dark};
      }

      circle {
        fill: #{$info-text-emphasis-dark};
        stroke: #{$info-text-emphasis-dark};
      }

      rect {
        fill: #{$info-text-emphasis-dark};
        stroke: #{$info-text-emphasis-dark};
      }
    }
  }

  h1 {
    width: fit-content;
    line-height: normal;
    background: linear-gradient(-79deg, #{$secondary-dark}, #{$primary-dark});
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .accordion-button.collapsed {
    code {
      background: #{$info-dark};
      color: #{$light-dark};
      padding-left: 3px;
      padding-right: 3px;
      font-size: 16px;
    }

    strong.emphasisAccordionHeader {
      color: #{$secondary-border-subtle-dark}
    }
  }

  .accordion-button {
    code {
      background: #{$gray-100};
      color: #{$info-text-emphasis-dark};
      padding-left: 3px;
      padding-right: 3px;
      font-size: 16px;
    }

    strong {
      .emphasisAccordionHeader {
        color: #{$primary-text-emphasis-dark}
      }
    }
  }

  code {
    background: #{$info-dark};
    color: #{$white};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
  }

  .codeHash {
    background: #{$primary-bg-subtle-dark};
    color: #{$primary-text-emphasis-dark};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .codeHash::selection {
    background: #{$primary-dark};
    color: #{$white};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .codeValue {
    background: #{$secondary-bg-subtle-dark};
    color: #{$secondary-text-emphasis-dark};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .codeValue::selection {
    background: #{$secondary-dark};
    color: #{$black};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .carousel-indicators {
    button {
      background-color: $light-dark !important;
    }
  }

  .carousel-control-next-icon {
    filter: none !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/></svg>");
  }

  .carousel-control-prev-icon {
    filter: none !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/></svg>");
  }
}

.header-nav-icon {
  margin-left: 8px;
  margin-right: 12px;
}

[data-coreui-theme="light"] {
  --cui-on-bg: #{$dark};

  ::selection {
    background: #CD99F4;
  }

  .nav-item {
    path {
      fill: #{$dark};
      stroke: #{$dark};
    }

    line {
      fill: #{$dark};
      stroke: #{$dark};
    }

    circle {
      fill: #{$dark};
      stroke: #{$dark};
    }

    rect {
      fill: #{$dark};
      stroke: #{$dark};
    }
  }

  .sidebar-nav .nav-link.active {
    background: #{mix($primary-bg-subtle, $primary, 80%)};
    color: #{$primary-text-emphasis};

    svg {
      path {
        fill: #{$primary-text-emphasis};
        stroke: #{$primary-text-emphasis};
      }

      line {
        fill: #{$primary-text-emphasis};
        stroke: #{$primary-text-emphasis};
      }

      circle {
        fill: #{$primary-text-emphasis};
        stroke: #{$primary-text-emphasis};
      }

      rect {
        stroke: #{$primary-text-emphasis};
        fill: #{$primary-text-emphasis};
      }
    }
  }

  .sidebar-nav .nav-link:hover {
    background: #{mix($info-bg-subtle, $info, 75%)};
    color: #{$info-text-emphasis};

    svg {
      path {
        fill: #{$info-text-emphasis};
        stroke: #{$info-text-emphasis};
      }

      line {
        fill: #{$info-text-emphasis};
        stroke: #{$info-text-emphasis};
      }

      circle {
        fill: #{$info-text-emphasis};
        stroke: #{$info-text-emphasis};
      }

      rect {
        fill: #{$info-text-emphasis};
        stroke: #{$info-text-emphasis};
      }
    }
  }

  h1 {
    width: fit-content;
    line-height: normal;
    background: linear-gradient(-79deg, #{$secondary}, #{$primary});
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .accordion-button.collapsed {
    code {
      background: #{$info-bg-subtle};
      color: #{$info_text-emphasis};
      padding-left: 3px;
      padding-right: 3px;
      font-size: 16px;
      font-weight: bold;
    }

    strong.emphasisAccordionHeader {
      color: #CD0F67
    }
  }

  .accordion-button {
    code {
      background: #{$white};
      color: #{$info_text-emphasis};
      padding-left: 3px;
      padding-right: 3px;
      font-size: 16px;
    }

    strong {
      .emphasisAccordionHeader {
        color: #{$primary-text-emphasis}
      }
    }
  }

  code {
    background: #{$info-bg-subtle};
    color: #{$info-text-emphasis};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
  }

  .codeHash {
    background: #{$primary-bg-subtle};
    color: #{$primary-text-emphasis};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .codeHash::selection {
    background: #{$primary};
    color: #{$white};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .codeValue {
    background: #{$secondary-bg-subtle};
    color: #{$secondary-text-emphasis};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .codeValue::selection {
    background: #{$secondary};
    color: #{$black};
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
  }

  .carousel-indicators {
    button {
      background-color: $dark !important;
    }
  }

  .carousel-control-next-icon {
    filter: none !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23312721'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/></svg>");
  }

  .carousel-control-prev-icon {
    filter: none !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23312721'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/></svg>");
  }
}
